*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.page {
  display: flex;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

.content {
  display: grid;
  grid-template-columns: 711px 399px;
  grid-template-areas: 'result content__details';
  align-items: end;
  column-gap: 30px;
  margin: auto;
} 

.result {
  grid-area: result;
}

.result__video-container {
  position: relative;
  inline-size: 711px;
  block-size: 386px;
  margin-bottom: 16px;
}

.result__video {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.search-form {
  display: flex;
  justify-content: start;
  align-items: end;
  column-gap: 40px;
}

.search-form__fieldset {
  border: 0;
}

.search-form__fieldset-title {
  font-family: inherit;
  color: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.6px;
  letter-spacing: 0;
  margin-bottom: 5px;
}

.search-form__label {
  display: flex;
  width: fit-content;
  align-items: center;
  cursor: pointer;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__label-text {
  color: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: normal;
}

.search-form__label-text:hover {
  text-decoration: underline;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__textfield {
  min-width: 225px;
  font-family: inherit;
  color: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.6px;
  letter-spacing: 0;
  border-top: 1px solid #fff;
  border-right: 0;
  border-bottom: 1px solid #fff;
  border-left: 0;
  background-color: transparent;
  appearance: none;
}

.search-form__textfield:focus {
  outline: 0;
}

.search-form__checkbox-list {
  display: flex;
  column-gap: 15px;
  align-items: center;
}

.search-form__pseudo-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  margin-right: 5px;
}

.search-form__pseudo-checkbox::after {
  content: "";
  display: none;
  width: 15px;
  height: 15px;
  margin: auto;
  background-color: #fff;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  display: block;
}

.search-form__checkbox:active + .search-form__pseudo-checkbox::after {
  display: block;
}

.button {
  border: 1px solid #fff;
  background-color: transparent;
  font-family: inherit;
  color: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 21.6px;
  letter-spacing: 0;
  text-align: center;
  padding: 6px 73.5px;
  cursor: pointer;
}

.button:active {
  background: #545050;
}

.button:hover {
  text-decoration: underline;
}

.button:focus {  /*Можно и .button:has(:focus-visible)*/
  outline: 0;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__submit-button {
  position: relative;
  width: 194px;
  height: 34px;
  align-self: end;
}

.more-button-template {
  position: relative;
}

.more-button {
  width: 100%;
}

.content__details {
  grid-area: content__details;
  display: flex;
  flex-direction: column;
  inline-size: 100%;
  block-size: auto;
}

.title {
  font-family: 'Oswald', sans-serif;
  color: inherit;
  font-weight: 700;
  font-size: 75px;
  line-height: 70.5px;
  letter-spacing: 0;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list-container {
  position: relative;
  overflow-y: scroll;
  height: 298px;
  margin-top: 26px;
}

.content__list {
  padding: 0 3px 0 3px;
}

.cards-list-item-template {
  position: relative;
}
.content__list-item {
  margin-bottom: 30px;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: inherit;
  row-gap: 6px;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:focus {
  outline: 0;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.content__card-link:active {
  background: #545050;
}

.content__card-link_current {
  background: #545050;
}

.content__video-card {
  display: flex;
  align-items: start;
}

.content__video-card-description-container {
  flex-grow: 1;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.content__video-card-title {
  font-family: 'Oswald', sans-serif;
  color: inherit;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: 0;
  text-transform: uppercase;
  padding-bottom: 6px;
}

.content__video-card-description {
  font-family: inherit;
  color: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 16.2px;
  letter-spacing: 0;
}

.content__video-card-thumbnail {
  inline-size: 193px;
  block-size: 103px;
  object-fit: cover;
  object-position: center;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}
